<% content_for :meta_tags do %>
  <meta property="og:image:secure_url" content="<%= @image['url'] %>">
  <meta property="og:image" content="<%= @image['url'] %>" />
  <meta property="twitter:image" content="<%= @image['url'] %>">
<% end %>

<div class="row" style="height: 100%">
  <div class="col-sm-4">
    <h1>Rory By ID</h1>
    <p><a href="/">Random Rory</a></p>
    <p>Rory ID: <%= @image['id'] %></p>
    <p>Total Rorys: <%= @total %></p>
    <p><%= link_to "Rory REST API (random)", "/purr" %></p>
    <p><%= link_to "Rory REST API (this Rory)", "/purr/#{@image['id']}" %></p>
    <p><%= link_to_fanclub 'discord' %></p>
  </div>
  <div class="col">
    <a href="<%= @image['url'] %>"><img src="<%= @image['url'] %>" alt="rory" title="rory" id="rory"/></a>
  </div>
</div>