<% content_for :meta_tags do %>
  <meta property="og:image:secure_url" content="<%= @image['url'] %>">
  <meta property="og:image" content="<%= @image['url'] %>" />
  <meta property="twitter:image" content="<%= @image['url'] %>">
<% end %>

<div class="row" style="height: 100%">
  <div class="col-sm-4">
    <h1><%= t('rory_by_id') %></h1>
    <p><a href="/"><%= t('random_rory') %></a></p>
    <p><%= t('rory_id', id: @image['id']) %></p>
    <p><%= t('total_rorys', total: @total) %></p>
    <p><%= link_to t('rory_rest_api_random'), "/purr" %></p>
    <p><%= link_to t('rory_rest_api_this'), "/purr/#{@image['id']}" %></p>
    <p><%= link_to_fanclub 'discord' %></p>
  </div>
  <div class="col">
    <a href="<%= @image['url'] %>"><img src="<%= @image['url'] %>" alt="rory" title="rory" id="rory"/></a>
  </div>
</div>