<% content_for :meta_tags do %>
  <meta property="og:image:secure_url" content="<%= @image['url'] %>">
  <meta property="og:image" content="<%= @image['url'] %>" />
  <meta property="twitter:image" content="<%= @image['url'] %>">
<% end %>

<div class="row" style="height: 100%">
  <div class="col-md-4">
    <h1><%= t('random_rory') %></h1>
    <p><a href="/"><%= t('new_rory') %></a></p>
    <p><%= t('rory_id', id: @image['id']) %></p>
    <p><%= t('total_rorys', total: @total) %></p>
    <p><%= link_to t('rory_rest_api'), "/purr" %></p>
    <p><%= link_to t('about'), "https://chew.wiki/view/Rory" %></p>
    <p><%= link_to_fanclub 'discord' %></p>
    <p id="requireHTTPS" class="hidden">
      <b>STOP!</b> This page <b>must</b> be served over HTTPS.
      Please <a>reload this page via HTTPS</a>.
    </p>

    <!-- Install button, hidden by default -->
    <div id="installContainer" class="hidden">
      <button id="butInstall" type="button" class="btn btn-primary btn-sm">
        <%= t('install_as_app') %>
      </button>
    </div>
  </div>
  <div class="col">
    <a href="/id/<%= @image['id'] %>"><img src="<%= @image['url'] %>" alt="rory" title="rory" id="rory"/></a>
  </div>
</div>