<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>rory the cat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

  <meta property="og:image:alt" content="a picture of rory the cat" />
  <meta property="og:description" content="the one stop spot for all things rory" />
  <meta name="description" content="the one stop spot for all things rory!" itemprop="description">
  <meta property="article:author" content="Chew">
  <meta name="keywords" content="rory cat" itemprop="keywords">
  <meta name="medium" content="image" />
  <meta property="twitter:card" content="summary_large_image">
  <meta property="og:title" content="rory the cat!" />
  <meta property="twitter:title" content="rory the cat" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta name="msapplication-TileColor" content="#d1ae86">
  <meta name="theme-color" content="#d1ae86">

  <%# Apple Icons, a lot of them apparently %>
  <% [57, 60, 72, 76, 114, 144, 152, 180].each do |i| %>
    <%= tag.link rel: 'apple-touch-icon', sizes: "#{i}x#{i}", href: "/apple-icon-#{i}x#{i}.png" %>
  <% end %>
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

  <link rel="manifest" href="/manifest.json">

  <%= stylesheet_link_tag 'application' %>

  <%= yield :meta_tags %>
</head>
<body class="bg-dark">
<div class="container text-light">
  <%= yield %>
</div>

<%= javascript_pack_tag "application" %>
</body>
</html>
